.display-ans-container{
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #fdf7e2;
    border-bottom: 1px solid #edeff0;
}

.display-votes{
    padding: 20px;
}

.display-votes p{
    text-align: center;
    margin: 0%;
}

.display-ans{
    padding: 20px;
}

.display-ans p{
    text-align: center;
    margin: 0%;
}

.display-detail{
    flex-grow: 1;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-title{
    color: #037ecb;
    transition: 0.3s;
    text-decoration: none;
    margin: 0%;
    text-align: center;
}

.question-title:hover{
    color: #009ddf;
}

.display-tags{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}

.display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    text-align: center;
    background-color: #edeff0;
    color: #39739d;
}

.display-time{
    font-size: 13px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 20px 0px 20px;
}